.logo {
    font-size:1.5em;
    border-radius: 50%;
    background:#eee;
    padding:5px 13px;
    color:#413C58;
    text-decoration:none;
    margin-left:-15px;

    &:hover {
        color:#FF6663;
    }
}
.logout {
    background:#ccc;
    border:1px solid #333;
    padding:10px;
    border-radius:5px;
    cursor:pointer;

    &:hover {
        background:#fff;
    }
}
.login {
    background:#ccc;
    border:1px solid #333;
    padding:10px;
    border-radius:5px;
    cursor:pointer;

    &:hover {
        background:#fff;
    }
}
.siteName {
    color:#eee;
    margin-left:1em;
}
.utility a {
    color:#eee;
    text-decoration:none;
    margin-right:1.5em;
    cursor:pointer;
    line-height:2em;
    text-shadow:-1px -1px 3px #222;
}
.utility a:hover {
    color:#FF6663;
}
