.tableData {
    min-width:100%;
    max-width:500px;
    text-align:left;
    border-spacing:0;
    margin-top:3em;
 
     td {
         padding:5px;
     }
 
    tr:nth-child(odd) td {
        background:#ccc;
    }
 
    tr:hover td {
        background:#818CF8;
    }
 
    tbody {
        border:1px solid #ccc;
    }
 }