.financeForm {
    padding:2em;
    width:40%;

    label {
        display: block;
        margin-bottom:2em;
    }
    input,
    textarea,
    select {
        width:100%;
        border:1px solid #ccc;
        padding:0.5em;
        border-radius:0.5em;
    }
    textarea {
        height:5em;
    }
    input[type="submit"] {
        background:#413C58;
        border:0;
        padding:0.5em;
        color:#eee;
        font-size:1em;
        cursor:pointer;

        &:hover {
            background:#00272B;
        }
    }
}