/*
$dark-green: #00272B;
$red: #FF6663;
$lime: #E0FF4F;
$violet: #413C58;
*/

body {
    padding:0;
    margin:0;
}

h1, h2 {
    font-weight:normal;
    color:#413C58;
    text-shadow:1px 1px 2px #ccc;
}

.wrapper {
    width:100vw;
    height:100vh;
    font-family:sans-serif;
    display:flex;
    flex-direction:column;
}
.row {
    margin:0;
}

header {
    background:#413C58;
    width:100%;
    padding:1em;
    flex: 1 0 auto;
}

.content {
    flex: 1 0 auto;
}

.navigation a,
.utility a {
    color:#eee;
    text-decoration:none;
    margin-right:1.5em;
    cursor:pointer;
    line-height:2em;
    text-shadow:-1px -1px 3px #222;
}
.navigation a:hover,
.utility a:hover {
    color:#FF6663;
}

@media only screen and (max-width:48em){
    .navigation {
        margin:2em 0;
    }

    .navigation a {
        margin-right:2.5em;
    }

    header {
        text-align:center;
    }
}

footer {
    background:#413C58;
    padding:1em;
    color:#eee;
    font-size:0.8em;
    flex-shrink:0;
}

body .react-datepicker-wrapper {
    display:block;
}
