/*
$dark-green: #00272B;
$red: #FF6663;
$lime: #E0FF4F;
$violet: #413C58;
*/

body {
    padding:0;
    margin:0;
}

h1, h2 {
    font-weight:normal;
    color:#413C58;
    text-shadow:1px 1px 2px #ccc;
}

.wrapper {
    width:100vw;
    height:100vh;
    font-family:sans-serif;
    display:flex;
    flex-direction:column;
}
.row {
    margin:0;
}

header {
    background:#00272B;
    width:100%;
    padding:1em;
    flex: 1 0 auto;
}

.content {
    flex: 1 0 auto;
}

.navigation {
    width:100%;
}
.navigation a {
    color:#ccc;
    text-decoration:none;
    margin-right:3em;
}
.navigation a:hover {
    color:#FF6663;
}

footer {
    background:#00272B;
    padding:1em;
    color:#ccc;
    font-size:0.8em;
    flex-shrink:0;
}

body .react-datepicker-wrapper {
    display:block;
}
